.navbar{
    width: 100%;
    padding : 20px 4%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.7) 10%,transparent);
    z-index: 1;
}

.navbar-left{
    display:flex;
    align-items: center;
    gap: 70px;
}

.navbar-left img{
    width: 50px;
    cursor: pointer;
}

.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 30px;

}

.navbar-left li{
    cursor: pointer;
    
}

.navbar-right{
    display: flex;
    gap: 50px;
    align-items: center;

}

.navbar-right .icons{
    width: 20px;
    cursor: pointer;
    
}

.navbar-right .profile{
    border-radius: 4px;
    width: 35px;
    
}

.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 20px;
    position: relative;
  
}

.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 10px 30%;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;

}

.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown{
    display: block;
}

.nav-dark{
    background: #141414;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .search-input {
    width: 800px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #202020;
    border-radius: 4px;
    background-color: #646363;
    color: #d0d0d0;
  }  

  .search-input::placeholder {
    color: #d0d0d0; 
    opacity: 0.7; 
  }

  .icons:hover {
    background-color: #323232;
  }

  .filtrage{
    position: absolute;
  }


